body{
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  font-family: Arial, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  color:white;
}

.card{
  background: rgba(0,0,0,0.6);
  padding:30px;
  border-radius:20px;
  width:350px;
  text-align:center;
  box-shadow:0 0 30px cyan;
}

input{
  width:90%;
  padding:10px;
  border:none;
  border-radius:10px;
  margin-top:15px;
}

button{
  margin-top:15px;
  padding:10px 20px;
  border:none;
  border-radius:10px;
  background:cyan;
  cursor:pointer;
  font-weight:bold;
}

img{
  width:120px;
  border-radius:50%;
  margin-top:15px;
  border:3px solid cyan;
}
